.places {
  margin-top: 92px;
  padding: 0 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 80px
}

@media (max-width: 1024px) {
  .places {
    padding: 0 48px
  }
}

@media (max-width: 768px) {
  .places {
    padding: 0 24px;
    margin-top: 88px;
    gap: 73px
  }
}

@media (max-width: 480px) {
  .places {
    padding: 0;
    margin-top: 64px;
    gap: 50px
  }
}
