section.cover
    a.cover__background(target="_blank" href="https://stampsy.com/na-elektrichkakh-do-baikala")
        h2.cover__title До Байкала «на собаках»
        p.cover__subtitle По мотивам учебной темы о Транссибе — путешествие от столицы до Байкала на электричках.