section.lead
    h1.lead__title Путешествия по России
    p.lead__subtitle Настоящая страна не в выпусках новостей, а здесь.
    img.lead__image(src=require("../../images/kalegin-michail-179870-unsplash.jpg") alt="Карта маршрута на фоне купе")
    p.lead__caption ваша полка — верхняя