.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  margin: 0 auto;
  max-width: 720px
}

@media (max-width: 768px) {
  .lead__title {
    font-size: 12.5vw;
  }
}

@media (max-width: 480px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 110%;
  }
}
