extends common/layout

block variables
    - var pageTitle = 'Russian Travel'

block content
    main.content
        include includes/lead
        include includes/intro
        include includes/photo-grid
        include includes/places
        include includes/cover
block popup
    .popup
block scripts