tr(prop, duration)
  transition prop duration ease

color()
  color mainColor

bgc()
  background-color backgroundColor

ff()
  font-family generalFont

fz(val)
  font-size val px

fit()
  display block
  width 100%
  height 100%
  object-fit cover
