.footer
  padding 0 24px 48px
  display flex
  align-items center
  justify-content space-between
  margin-top 92px
  @media (max-width tablet)
    padding 0 24px 24px
    flex-direction column
    margin-top 88px
  @media (max-width mobile-l)
    padding 0 16px 24px
    align-items flex-start
    margin-top 64px