@import "../vendor/normalize.css"
@import "../vendor/fonts/_fonts.styl"

@import "../stylus/variables.styl"
@import "../stylus/mixins.styl"
@import "../blocks/page/page.styl"

@import "../blocks/header/header.styl"
@import "../blocks/header/__logo/header__logo.styl"
@import "../blocks/header/__lang-list/header__lang-list.styl"
@import "../blocks/header/__lang-item/header__lang-item.styl"
@import "../blocks/header/__lang-item/_active/header__lang-item_active.styl"

@import "../blocks/lead/lead.styl"
@import "../blocks/lead/__title/lead__title.styl"
@import "../blocks/lead/__subtitle/lead__subtitle.styl"
@import "../blocks/lead/__image/lead__image.styl"
@import "../blocks/lead/__caption/lead__caption.styl"

@import "../blocks/intro/intro.styl"
@import "../blocks/intro/__title/intro__title.styl"
@import "../blocks/intro/__text/intro__text.styl"
@import "../blocks/intro/__list/intro__list.styl"
@import "../blocks/intro/__item/intro__item.styl"

@import "../blocks/photo-grid/photo-grid.styl"
@import "../blocks/photo-grid/__item/photo-grid__item.styl"

@import "../blocks/places/places.styl"
@import "../blocks/place/place.styl"
@import "../blocks/place/__title/place__title.styl"
@import "../blocks/place/__website/place__website.styl"
@import "../blocks/place/__url-heading/place__url-heading.styl"
@import "../blocks/place/__link/place__link.styl"
@import "../blocks/place/__image/place__image.styl"
@import "../blocks/place/__container-paragraph/place__container-paragraph.styl"
@import "../blocks/place/__paragraph/place__paragraph.styl"

@import "../blocks/cover/cover.styl"
@import "../blocks/cover/__title/cover__title.styl"
@import "../blocks/cover/__subtitle/cover__subtitle.styl"
@import "../blocks/cover/__background/cover__background.styl"

@import "../blocks/footer/footer.styl"
@import "../blocks/footer/__copyright/footer__copyright.styl"
@import "../blocks/footer/__link/footer__link.styl"
@import "../blocks/footer/__list-link/footer__list-link.styl"
@import "../blocks/footer/__list-links/footer__list-links.styl"