.intro {
  padding: 92px 148px 0;
  max-width: 690px;

}

@media (max-width: 1024px) {
  .intro {
    padding: 88px 48px 0;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 88px 24px 0;

  }
}

@media (max-width: 480px) {
  .intro {
    padding: 64px 16px 0;

  }
}
