.places
  margin-top 92px
  padding 0 148px
  display flex
  flex-direction column
  gap 80px
  @media (max-width laptop-s)
    padding 0 48px
  @media (max-width tablet)
    padding 0 24px
    margin-top 88px
    gap 73px
  @media (max-width mobile-l)
    padding 0
    margin-top 64px
    gap 50px
