.header
  display flex
  justify-content space-evenly
  align-items center
  padding 28px 48px 0
  @media (max-width tablet)
    padding 28px 24px 0
  @media (max-width mobile-l)
    padding 16px 16px 0
