header.header
    img.header__logo(src=require("../../images/__logo.png"))
    ul.header__lang-list
        li
            a.header__lang-item.header__lang-item_active Ru
        li
            a.header__lang-item En
