include ../utils/mixin

block variables

doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title= pageTitle
            meta(content="width=device-width, initial-scale=1" name="viewport")
        body.page
            block header
                include header
            block content
            block footer
                include footer
            block popup
            block scripts